[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = dunfell
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = dunfell
[submodule "meta-security"]
	path = meta-security
	url = git://git.yoctoproject.org/meta-security.git
	branch = dunfell
[submodule "meta-jumpnow"]
	path = meta-jumpnow
	url = https://github.com/jumpnow/meta-jumpnow.git
	branch = dunfell
[submodule "meta-bbb"]
	path = meta-bbb
	url = git://github.com/jumpnow/meta-bbb
	branch = dunfell
